:host {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: calc(100% - 64px);
}
.textarea-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.textarea {
    flex: 1 1 auto;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    resize: none;
}
.journal-list {
    flex: 1 1 auto;
    max-width: 500px;
    overflow-y: auto;
    mat-list {
        padding-bottom: 32px;
    }
}
.overflow-2-rows.mat-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}