<mat-list role="list" *ngIf="journalResponse">
  <h3 *ngIf="selectedJournalLength() == 0" mat-subheader>Journal Entries</h3>
  <h3 *ngIf="selectedJournalLength() > 0" mat-subheader>
    <mat-icon (click)="deleteJournalSelectedConfirm()">delete</mat-icon>
  </h3>
  <mat-list-item *ngFor="let journal of journalResponse.journals" (click)="isEncryptionKeyNotFound(journal) ? enterEncryptionKey() : null">
    <mat-checkbox *ngIf="!isEncryptionKeyNotFound(journal)" mat-list-icon [(ngModel)]="selectedJournals[journal.id]"></mat-checkbox>
    <mat-icon *ngIf="isEncryptionKeyNotFound(journal)" mat-list-icon>vpn_key</mat-icon>
    <h4 *ngIf="!isEncryptionKeyNotFound(journal)" class="overflow-2-rows" mat-line>{{getContent(journal)}}</h4>
    <h4 *ngIf="isEncryptionKeyNotFound(journal)" mat-line> Key not found. Tap to enter </h4>
    <p *ngIf="!isEncryptionKeyNotFound(journal)" mat-line> {{fromNow(journal.createdAt)}} </p>
    <mat-icon (click)="deleteJournalConfirm(journal)">delete</mat-icon>
    <mat-icon [routerLink]="['/journal',journal.id]">edit</mat-icon>
  </mat-list-item>
  <mat-list-item *ngIf="journalResponse.journals.length == 0">
    <p mat-line>No Entries found</p>
  </mat-list-item>
</mat-list>